version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo_db
    restart: always
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
    env_file:
      - .env

  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      - MONGO_URI=${MONGO_URI}

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    env_file:
      - .env